@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 300px;
}

.flag {
  width: 30px;
  height: auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleInHover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

nav {
  background-color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  animation: fadeIn 1s ease;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  animation: scaleIn 0.5s ease;
}

a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
}

a:hover {
  background-color: #555;
  animation: scaleInHover 0.3s ease;
  transform: scale(1.1);
}

img {
  vertical-align: middle;
  margin-right: 5px;
}
